html,
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
    font-size: 1.2rem; 
    color: #303137;
    margin: auto;
}

body::-webkit-scrollbar {
    display: none;
}


/* navbar styling */

.logo-ancor {
    text-decoration: none;
    cursor: pointer;
    position: absolute;
    top: 15px;
    left: 100px;
    font-size: 24px;
}
.logo-ancor:hover {
    text-decoration: none;
}

.brand {
    text-transform: uppercase;
    color: #303137;
    margin-top: 10px;
    text-decoration: none;
}

.sensai {
    color: #66b6d3;
    text-decoration: none;
}

.topnav {
    display: flex;
    margin: 0;
    margin-top: 10px;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 15px;
    right: 100px;
}

.nav-link {
    text-decoration: none;
    padding-left: 20px;
    text-transform: uppercase;
    color: #303137;
    color: #777;
    font-size: 24px;
    display: block;
}

.nav-link:hover {
    color: #000;
    transition: color 0.6s;
}


/* new nav bar starts */

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    line-height: 1.5;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
  }

  .hamburger {
    display: none;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }
/* new nav bar ends */



.navbar,
.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

.navcontainer {
    display: block;
    background-color: #fff;
    position: fixed;
    z-index: 10;
    margin: 0;
    width: 100%;
    height: 3.5rem;
    box-shadow: 0 0 2px 0.5px;
    animation: float-In 1s ease-out forwards;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

@keyframes float-In {
    0% {
        opacity: 0;
        transform: translateY(-2rem);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

header {
    display: flex;
    justify-content: center;
}

.header-image {
    opacity: 0;
    transform: scale(.2);
    text-align: center;
    border-radius: 50%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-bottom: 0.5rem;
    animation: Zoom-In .6s 1s cubic-bezier(0, 0, 0.42, 1.54) forwards;
}

@keyframes Zoom-In {
    100% {
        opacity: 1;
        transform: none;
    }
}

.headershot-wrap h2 {
    opacity: 0;
    transform: translateY(1rem);
    animation: float-out .5s 1.5s ease-out forwards;
}

@keyframes float-out {
    100%{
        opacity: 1;
        transform: none;
    }
}



.headershot-wrap {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10rem 0 7rem 0;
    position: relative;
}

/* service section starts */


.services,
.contect-container {
    padding: 4rem 1rem;
    background: #e4e4e6;
}

.blurb-header {
    font-size: 25px;
    margin-top: 0;
}

.blurb-info {
    color: #646b91;
}

.media-objects {
    display: flex;
    align-items: center;
    padding: 4rem 1rem;
    font-size: 1rem;
}

.blurb-wraper-right,
.blurb-wraper-left {
    flex: 1;
    transition: all 0.5s;
}

.icon-left,
.icon-right {
    flex: 1;
    display: flex;
    justify-content: center;
    transition: all 0.5s;
}

.icon-left,
.blurb-wraper-left {
    order: 1;
}

.icon-right,
.blurb-wraper-right {
    order: 2;
}

.icon {
    width: 180px;
}

.Quote-btn {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    position: relative;
}

.Button {
    color: #fff;
    background: #66b6d3;
    padding: .8rem 4rem;
    border: none;
    border-radius: 3px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .3);
    font-size: 18px;
    transition: 0.1s ease-in-out;
}

.Button:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.section-header {
    text-align: center;
    padding: 6rem 0 4rem;
}

.section-header h1 {
    font-size: 2.5rem !important;
}

.portaflio-wrapper {
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    justify-content: space-around;
    text-align: center;
    position: relative;
}

.card {
    margin: 0 .7rem 2rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

form lable {
    font-size: 18px;
    padding-right: 10px;
}

.form-group {
    margin-bottom: 0.85rem;
}

.form-control {
    max-width: 800px;
    width: 100%;
    background-color: #fff;
    color: #292b2c;
    border-radius: 2px;
    border: 1px solid #ced4da;
    font-size: 1rem;
    line-height: 2.5;
    background-clip: padding-box;
    display: block;
}

.submit-btn {
    margin-top: 2rem;
}   

.head {
    margin-bottom: 2rem;

}

/* Project section  starts */

.linkButton {
    border: none;
    outline: none;
    font-size: .8rem;
    padding: 8px 12px;
    background-color: #66b6d3;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.linkButton:hover {
    text-decoration: none;
    color: white;
}

/* Project section  ends*/

/* Contact Page */

#contact {
    background: #d2d9f0;
    padding: 10% 20%;
}

.ContactContainer {
    text-align: center;
}


.heading {
    font-size: 35px;
}


.contactInfo {
    background: lightgrey;
    width: 60%;
    margin: 0 auto;
    padding: 40px;
}

form lable {
    float: left;
}

form .inpBox {
    width: 100%;
    padding: 10px 8px;
    font-size: 16px;
    margin: 10px auto;
    outline: none;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid black;
}

form input[type="submit"] {
    width: 100%;
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
    padding: 10px 12px;
    margin: 10px auto;
    text-transform: uppercase;
}

form input[type="submit"]:hover {
    background: lightgreen;
    border: green;
}

#contact  {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 480px));
    justify-content: center;
    align-items: center;
    grid-gap: 50px;
    padding: 100px;
    background-color: #000;
}

#contact .firstbox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#contact .firstbox h1 {
    font-size: 2.5rem;
    color: white;
    margin-bottom: 10px;
    text-align: left;
}

#contact .firstbox h1 span {
    color: #66b6d3;
}

#contact .firstbox p {
    color: grey;
    font-size: .8rem;
    margin-bottom: 25px;
}

#contact .firstbox input,
#contact .firstbox textarea {
    width: 90%;
    border-radius: 5px;
    background-color: #292b2c;
    color: white;
    margin-bottom: 10px;
    padding: 10px;
    outline: none;
    border: none;
    font-size: 1rem;
}

#contact .firstbox input:active,
#contact .firstbox input:visited,
#contact .firstbox input:checked {
    background-color: #292b2c;
}

#contact .firstbox textarea {
    resize: vertical;
}

#contact .firstbox .contactBtn {
    color: white;
    font-size: 1rem;
    background-color: #66b6d3;
    border-radius: 8px;
    padding: 6px 30px;
    outline: none;
    border: none;
    margin-bottom: 10px;
    cursor: pointer;
}

#contact .secondbox {
    width: 100%;
    height: 100%;
}

#contact .secondbox img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.sentmsg {
    color: rgb(45, 165, 45);
    opacity: 1;
    display: none;
    transition: opacity 1s,
                display 1s;
}

footer {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #000;
    box-shadow: 1px 1px 15px white;
}

footer p {
    font-size: .8rem;
}

/* phone */

@media only screen and (max-width: 890px) {
    .hamburger {
        display: block;
    }

    .navBar {
        display: none;
    }

    .logo-ancor {
        left: 15px;
    }
}


@media (max-Width: 768px) {

    

    a {
        text-decoration: none;
        color: #303137;
    }

    .media-objects {
        text-align: center;
        flex-direction: column;
    }

    .icon-right,
    .icon-left {
        order: 1;
    }

    .blurb-wraper-left,
    .blurb-wraper-right {
        order: 2;
        padding-top: 2rem;
    }

    .form-group {
        display: flex;
    }

    .submit-btn {
        text-align: center;
    }

    #contact  {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 100px 50px;
    }

    #contact .secondbox {
        order: 1;
    }

    #contact .firstbox {
        order: 2;
    }
}

@media (max-width: 628px) {
    .portaflio-wrapper {
        justify-content: center space-between;
    }
}
