* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(53, 28, 77);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: auto;
    padding: 10px 15px;
    border: 1px solid black;
    background-color: white;
    border-radius: 8px;
    animation: fade-In 1s cubic-bezier(1, -0.01, 0.35, 1.01) forwards;
}

input {
    width: 260px;
    overflow: auto;
    padding: 10px;
    font-size: 1rem;
    border-radius: 4px;
    outline: none;
    border: 1px solid black;
    margin-top: 5px;
}

img {
    color: black;
    width: 20px;
    transform: translate(110px, -30px);
}

/* .inpright {
    width: 21px;
    height: 13px;
    border: 1px solid black;
    cursor: pointer;
    transform: translate(108px, -26px);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 1;
}

.inprightdot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: black;
}

.inprightline {
    width: 23px;
    height: 1px;
    display: none;
    background-color: black;
    position: absolute;
    transform: rotate(-45deg);
} */

ul {
    line-height: 1.5;
    list-style-type: none;
    width: 100%;
    padding-left: 9px;
}

.icon {
    padding-right: 5px;
    padding-top: 5px;
}

h2 {
    font-size: 1rem;
    width: 100%;
    text-align: left;
    padding-left: 9px;
    margin-bottom: 5px;
}

li {
    font-size: 1rem;
}


@keyframes fade-In {
    0% {
        opacity: 0;
        transform: scale(.2) rotate(360deg);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}
